---
layout: landing
title: Interviews
description: Interviews exclusive to DadsGaming.
---

<div class="ui inverted vertical segment dark-wood">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
      <div class="eight wide column">
        {% include recent-interviews.html %}
      </div>

      <div class="eight wide column">
          
          {% include feature-interview.html %}        

        <div class="ui inverted divider"></div>
		<iframe src="
		//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetAdHtml&ID=OneJS&OneJS=1&banner_type=setandforget&campaigns=holsetforget2&placement=assoc_banner_placement_default&region=US&marketplace=amazon&tracking_id=dadgam-20&ad_type=banner&height=250&width=300&linkid=CJV4BIQQHRTQ6CST&f=ifr
		" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
		

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div> <!-- /row -->
  </div>
</div>
