<div class="ui right vertical sidebar menu">
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>

    <a class="item" href="{{ site.url }}">
    <i class="home icon"></i>
    Home
    </a>

    <a class="item" href="{{ site.url }}/about/">
    <i class="info circle icon"></i>
    About
    </a>
    <a class="item" href="{{ site.url }}/blogs/">
    <i class="comments icon"></i>
    Blogs
    </a>
    <a class="item" href="{{ site.url }}/reviews/">
    <i class="file text outline icon"></i>
    Reviews
    </a>
    <a class="item" href="{{ site.url }}/gaming/">
    <i class="game icon"></i>
    Gaming
    </a>
    <a class="item" href="{{ site.url }}/newsletter/">
    <i class="newspaper icon"></i>
    Newsletter
    </a>
    <br />
    <a class="item" href="{{ site.url }}/category/">
    <i class="bookmark icon"></i>
    Category List
    </a>
	
    <a class="item" href="http://twitter.com/{{ site.twitter_username }}">
	<i class="twitter icon"></i>
	Twitter
	</a>
	<a class="item" href="http://facebook.com/{{ site.facebook_username }}"><i class="facebook icon"></i> Facebook</a>
	<a class="item" href="http://reddit.com/r/{{ site.reddit_username }}"><i class="reddit icon"></i> reddit</a>
    <a class="item" href="http://twitch.tv/{{ site.twitch_username }}"><i class="twitch icon"></i> Twitch</a>
	<a class="item" href="http://youtube.com/{{ site.youtube_username }}"><i class="youtube icon"></i> Youtube</a>
	
</div>
